.Title {
  margin: 10px 0;

  font-size: 25px;
  font-weight: 700;
}

.SearchForm {
  display: flex;
  justify-content: end;

  margin-bottom: 10px;
}

.setPostsForm {
  height: 25px;

  display: flex;
  justify-content: start;


  margin-bottom: 10px;
}

.setPosts_input {
  width: 35px;
}

.form_btn {
  height: 20px;
  margin: 0 5px;

  background-color: rgb(35, 139, 66);
  color: white;

  border: none;
  border-radius: 5px;
}