* {
    padding: 0 5px;
}

hr {
    border: solid 1px rgb(35, 139, 66);
}

.Title {
    font-size: 20px;
    font-weight: 600;
    
}

.UserId {
    margin: 3px 0 10px 0;

    font-size: 15px;
}

.Content {
    margin-top: 20px;
    font-size: 16px;
}