
.Wrap_ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  height: 20px;

  margin-top: 50px;
}

.Wrap_li {
  display: inline;
  margin-left: 5px;

  font-size: 12px;
}

.Wrap_p {
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
}