.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width : 300px;
  max-width: 300px;
  height: 60px;

  padding: 10px 15px;

  border-top: double 4px rgb(210, 210, 210);
  background-color: rgb(246, 246, 246);
}

.HeadText {
  padding: 0 10px;
  margin-bottom: 1px;

  font-size: 12px;
}

.TitleText {
  font-size: 16px;
  font-weight: 500;
}